---
---

<section class="dark:bg-neutral-900">
	<div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl grid gap-6 row-gap-10 md:grid-cols-2">
		<div class="relative">
			<a href="#" rel="noopener">
				<img
					class="cover"
					src="https://raw.githubusercontent.com/BioinformaticOpenDays/bods-website-2023/main/src/assets/images/Logo_2025.png"
					alt="Bioinformatics Open Days 2025"
				/>
			</a>
		</div>
		<div class="md:pb-6 md:pr-16 lg:text-left md: text-left text-center">
			<br />
			<br />
			<h3 class="mb-8 text-3xl lg:text-4xl font-bold font-heading dark:text-white">About us</h3>
			<p class="dark:text-neutral-400">
				Student-led initiative, first held at the University of Minho, Braga, in 2012!
				<br />
				<br />
				Aimed to promote knowledge exchange between students, teachers and researchers from the Bioinformatics and Computational
				Biology fields.
				<br />
			</p>
			<div class="w-full pt-5">
				<a
					class="btn text-white bg-green-600 hover:bg-green-800 mb-4 sm:mb-0"
					href="https://drive.google.com/drive/folders/1cIGRcZPKnKh-SX58fGDRVfpb4ONiwI1v?fbclid=PAZXh0bgNhZW0CMTEAAabp1dj8MUxzKPDEY3MFjKtN8niD1AhaRW0mPK8qess-_PqAdpBJJkqhXyo_aem_M17GMi3pDvastB-ppzzDqg "
					target="_blank"
					rel="noopener"
				>
					XIV BOD Edition's Photos
				</a>
			</div>
		</div>
	</div>
</section>
