---
import { Icon } from 'astro-icon';
---

<section id="completeschedule" class="dark:bg-neutral-900">
  <div class="md:py-16 sm:px-4 mx-auto md:px-6 lg:px-8 lg:py-20 max-w-6xl">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-3xl lg:text-4xl font-bold md:text-4xl md:leading-tight dark:text-white">Schedule</h2>
      <p class="mt-1 text-neutral-600 dark:text-neutral-400">
        Join us at BOD 2025 for three days of knowledge sharing, innovation and networking in the dynamic field of
        Bioinformatics.
      </p>
      <div class="mt-6">
        <a
          class="btn bg-green-600 mb-4 sm:mb-0"
          href="https://www.google.com/maps/place/Complexo+Pedagogico+II-Uminho/@41.5597253,-8.398048,18.5z/data=!4m6!3m5!1s0xd24fe9d967b3e7b:0x8e7b5fcf6deed3b!8m2!3d41.5598839!4d-8.3976485!16s%2Fg%2F11bwyx90r2"
          target="_blank"
          rel="noopener"
        >
          <Icon name="tabler:map-pin" class="w-5 h-5 mr-1 -ml-1.5" /> Gualtar Campus, Pedagogical Complex II (CP2), Auditorium
          B1
        </a>
      </div>
    </div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-green-600">
      <div class="basis-full text-xl">
        <b>MARCH 26TH - WEDNESDAY</b>
      </div>/
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Opening Session</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">12:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Round Table</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:00 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <p></p>
      </div>

      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications (session 1 and 2, with Poster session 1 in between)</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">20:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Dinner and Post-Dinner Activities</b>
      </div>
    </div>

    <div class="py-10"></div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-green-600">
      <div class="basis-full text-xl">
        <b>MARCH 27TH - Thuersday</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2"></div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Session</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">11:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications (Session 3)</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Session with companies</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">15:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Job Fair</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">17:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Activities (Quizz and BBQ)</b>
      </div>
    </div>

    <div class="py-10"></div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
      <div class="basis-full text-xl">
        <b>MARCH 28TH - Friday</b>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Workshops</b>
      </div>
    </div>
  </div>
</section>
