---
import { Icon } from 'astro-icon';
---

<section id="completeschedule" class="dark:bg-neutral-900">
  <div class="md:py-16 sm:px-4 mx-auto md:px-6 lg:px-8 lg:py-20 max-w-6xl">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-3xl lg:text-4xl font-bold md:text-4xl md:leading-tight dark:text-white">Schedule</h2>
      <p class="mt-1 text-neutral-600 dark:text-neutral-400">
        Join us at BOD 2026 for three days of knowledge sharing, innovation and networking in the dynamic field of
        Bioinformatics.
      </p>
      <div class="mt-6">
        <a
          class="btn bg-purple-600 mb-4 sm:mb-0"
          href="https://www.google.com/maps/place/Complexo+Pedagogico+II-Uminho/@41.5597253,-8.398048,18.5z/data=!4m6!3m5!1s0xd24fe9d967b3e7b:0x8e7b5fcf6deed3b!8m2!3d41.5598839!4d-8.3976485!16s%2Fg%2F11bwyx90r2"
          target="_blank"
          rel="noopener"
        >
          <Icon name="tabler:map-pin" class="w-5 h-5 mr-1 -ml-1.5" /> Gualtar Campus, Pedagogical Complex II (CP2), Auditorium
          B1
        </a>
      </div>
    </div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-purple-600">
      <div class="basis-full text-xl">
        <b>MARCH 25TH - WEDNESDAY</b>
      </div>/
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Registration</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Opening Session</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:15 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/Sanne_Abeln.jpg" alt="Sanne Abeln" width="90" height="90" /> 
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1">Learning to Unravel Complex Life Science Data</p>
        <p class="text-neutral-600 dark:text-neutral-400"> Sanne Abeln</p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">11:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Coffee Break</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">11:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <div class="basis-9/12 lg:basis-10/12">
          <b>Oral Communications [Session 1]</b>
          <!--<p class="py-1"> Genomics and Systems Biology </p> -->
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            A Bayesian Framework for Inferring Selection Coefficients in Evolve-and-Resequence Experiments - <b>Tiago Paixão</b>
          </p>
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            Characterizing Glycosylation Sites and Glycan Shielding on the Zika Virus Envelope Protein - <b>Benedita Pereira</b>
          </p>
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            Novel Antiviral Biologics Targeting RSV F Protein: From Computational Design to Experimental Validation
 - <b>André Bagão</b>
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">12:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Lunch Break</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:00 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/Nuno_Morais.png" alt="Nuno Morais" width="90" height="90" /> 
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1">Finding Transcriptomic Signature of Human Cellular Stress and Senescense</p>
        <p class="text-neutral-600 dark:text-neutral-400"> Nuno Morais </p>
      </div>
    </div>

    

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications [Session 2]</b>
        <p class="py-1"> Genomics and Systems Biology </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          D4-PortableV2, a novel tool for tumor clonality assessment in lung cancer - <b>José Pedro Matos</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          GENNUS: generative approaches for nucleotide sequences enhance mirtron classification - <b>Alexandre Paschoal</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          LASSO application for a GWAS study - <b>Antonio Villasana</b>
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">15:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Highlights [Session 1]</b>
        <!--<p class="py-1"> Methods and Applications </p>-->
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">15:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Session 1 & Coffee Break</b>
        <p class="text-neutral-600 text-sm dark:text-neutral-400">
          Posters nº 1, 3, 5, 6, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Round Table </b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">19:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Dinner and Post-Dinner Activities</b><br>
        <a href="https://www.google.com/maps/search/?api=1&query=Restaurante+Casa+Alves+Braga" target="_blank" class="underline hover:text-blue-500">
          Restaurante Casa Alves
        </a> - Av. Antero de Quental n.20 Braga
      </div>
    </div>





    <div class="py-10"></div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-purple-600">
      <div class="basis-full text-xl">
        <b>MARCH 26TH - Thursday</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Registration</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:00 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/Paulo_Castro.jpeg" alt="Paulo de Castro Aguiar" width="90" height="90" />
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1">The biophysics of computation: building living neuronal circuits</p>
        <p class="text-neutral-600 dark:text-neutral-400">Paulo de Castro Aguiar</p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Coffee Break</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">11:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications [Session 3]</b>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Mind the gap: An indel-integrating pipeline to evaluate HCF164 sequence similarity in Coffea spp. and trace SH9 rust resistance factor - <b>Martim de Freitas</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Multi Omics Integration Reveals Distinct Factors Related to Kidney Cancer Progression, Immune Activity and Patient Survival - <b>Epitácio Farias</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Constant-pH Molecular Dynamics Insights into the Monomer–Dimer Equilibrium of the pH-Sensing Protein PsbS - <b>Sara Vitória</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Omics and bioinformatics in Blue Biotechnology: Developing a pipeline to unravel unique proteins responsible - <b>Catarina Faustino</b>
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">12:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Lunch Break</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:00 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/Noel_Miranda.jpeg" alt="Noel de Miranda" width="90" height="90" />
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1"> How Technology and Bioinformatics Are Transforming Cancer Biology</p>
        <p class="text-neutral-600 dark:text-neutral-400">Noel de Miranda</p>
      </div>
    </div>

    <!-- <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Session with companies</b>
        <p class="text-neutral-600 dark:text-neutral-400"></p>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Job fair and coffee break</b>
      </div>
    </div> -->

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <div class="basis-9/12 lg:basis-10/12">
          <b>Oral Communications [Session 1]</b>
          <!--<p class="py-1"> Genomics and Systems Biology </p> -->
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            Regulatory Network Architecture, Not Gene Loss, Drives Aglomerular Kidney Phenotypes in Antarctic Fishes? - <b>José Teixeira</b>
          </p>
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            The secrets within: a metagenomic characterisation of thermal and nutritional effects on the diversity of the gut microbiota of Rana temporaria - <b>Daniela Deodato</b>
          </p>
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            The transcriptomic portrait of anterior and posterior regeneration in a marine annelid after drastic amputation
 - <b>Inês Moutinho Cabral</b>
          </p>
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            Two Roads to Protein Design: Library-Based and Generative Approaches for Triple-Negative Breast Cancer - <b
              >Catarina Tavares Cavaleiro</b>
          </p>
          <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
            X-linked transcriptome dysregulation across immune cells in systemic lupus erythematosus - <b>Mafalda Soares</b>
          </p>
        </div>
      </div>
    </div>


    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Highlights [Session 2]</b>
 
        <!--<p class="py-1"> Methods and Applications </p>-->
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Session 2 & Coffee Break</b>
        <p class="text-neutral-600 text-sm dark:text-neutral-400">
          Posters nº 2, 4, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">17:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Prizes and Closing Session</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">18:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Activities: BBQ</b>
      </div>
    </div>





    <div class="py-10"></div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-purple-600">
      <div class="basis-full text-xl">
        <b>MARCH 27TH - Friday</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Registration</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Workshops</b>
        <p class="pt-2">[1] Structure-Based Enzyme Engineering with the GDEE Platform</p>
        <p class="pb-2 text-sm"><b>João Correia</b></p>
  
        <p class="pt-2">[2] Genome-Wide DNA Methylation Analysis</p>
        <p class="pb-2 text-sm"><b>María Gomez </b></p>
  
        <!-- <p class="pt-2">[3] DeepMol: automating machine learning for computational chemistry
        </p>
        <p class="pb-2 text-sm"><b>João Capela</b></p>
        -->
      </div>
    </div>

  </section>
