---
import { Icon } from 'astro-icon';
---

<section id="completeschedule" class="dark:bg-neutral-900">
  <div class="md:py-16 sm:px-4 mx-auto md:px-6 lg:px-8 lg:py-20 max-w-6xl">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-3xl lg:text-4xl font-bold md:text-4xl md:leading-tight dark:text-white">Schedule</h2>
      <p class="mt-1 text-neutral-600 dark:text-neutral-400">
        Join us at BOD 2026 for three days of knowledge sharing, innovation and networking in the dynamic field of
        Bioinformatics.
      </p>
      <div class="mt-6">
        <a
          class="btn bg-green-600 mb-4 sm:mb-0"
          href="https://www.google.com/maps/place/Complexo+Pedagogico+II-Uminho/@41.5597253,-8.398048,18.5z/data=!4m6!3m5!1s0xd24fe9d967b3e7b:0x8e7b5fcf6deed3b!8m2!3d41.5598839!4d-8.3976485!16s%2Fg%2F11bwyx90r2"
          target="_blank"
          rel="noopener"
        >
          <Icon name="tabler:map-pin" class="w-5 h-5 mr-1 -ml-1.5" /> Gualtar Campus, Pedagogical Complex II (CP2), Auditorium
          B1
        </a>
      </div>
    </div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-green-600">
      <div class="basis-full text-xl">
        <b>MARCH 26TH - WEDNESDAY</b>
      </div>/
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Registration</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Opening Session</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:00 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/Patrick-Aloy.png" alt="Kjell Peterson" width="90" height="90" />
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1">Blending Biology, Chemistry and AI to Enable Personalized Systems Pharmacology</p>
        <p class="text-neutral-600 dark:text-neutral-400">Patrick Calaf Aloy</p>
      </div>
    </div>



    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Round Table</b>
        <p class="py-1">BioData.pt "Research Data Management Centres for Living Data: Driving Open Science and Innovation"</p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">12:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Lunch</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">13:45 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/SMRocha.png" alt="Kjell Peterson" width="90" height="90" />
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1">Taking advantages of innovative chemometric tools to unveil vineyard ecosystems and post-bottling dynamics</p>
        <p class="text-neutral-600 dark:text-neutral-400">Sílvia Rocha</p>
      </div>
    </div>

    

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications [Session 1]</b>
        <!--<p class="py-1"> Genomics and Systems Biology </p> -->
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Mitochondrial Gene Expression Is Independent of Organ Metabolic Rates: Do Cancer Selective Pressures Override the Tumor Microenvironment - <b>Isabel Duarte</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          The Neighbour Effect: How Interacting Proteins Influence Driver Mutations and Cancer Patient Outcomes - <b>João Miranda</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Implementing Metabolic Transformation Algorithms and their application in Ageing-related research - <b>Bruno Sá</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Integration of multi‐modal datasets to estimate human aging - <b
            >Rogério Ribeiro</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          DepMap and GDSC data mining to inform ancestry-driven mechanisms in triple-negative breast cancer - <b>Ricardo Pinto</b>
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">15:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Highlights [Session 1]</b>
        <!--<p class="py-1"> Methods and Applications </p>-->
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Session 1 & Coffee Break</b>
        <p class="text-neutral-600 text-sm dark:text-neutral-400">
          Posters nº 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications [Session 2]</b>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Guiding computational design for SARS-CoV-2 Spike protein using Molecular Dynamics simulations - <b>Rita Teixeira</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Tracing the prevalence and pathogenicity of artifact mutations in ancient Human mitochondrial DNA- <b
            >Pedro Fernandes</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          DeepTransyt, annotation of transporter proteins using deep learning - <b>Gonçalo Apolinário</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Improving Docking Predictions with a ML-Based Scoring Ensemble - <b
            >João Correia</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Computational Engineering of PETase for Improved PET plastics Substrate Affinity and Degradation Efficiency - <b
            >Alexandra Balola</b>
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">19:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Speed meeting</b>
      </div>
    </div>


    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">20:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Dinner and Post-Dinner Activities</b>
      </div>
    </div>

    <div class="py-10"></div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-green-600">
      <div class="basis-full text-xl">
        <b>MARCH 27TH - Thuersday</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Registration</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:00 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/maguns.png" alt="Kjell Peterson" width="90" height="90" />
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1">The Value FAIR and Open Bioinformatics Research Software</p>
        <p class="text-neutral-600 dark:text-neutral-400">Magnus Palmblad</p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">10:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Highlights [Session 2]</b>
        <!--<p class="py-1"> Methods and Applications </p>-->
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">11:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      
      <div class="basis-9/12 lg:basis-10/12">
        <b>Poster Session 2 & Coffee Break</b>
        <p class="text-neutral-600 text-sm dark:text-neutral-400">
          Posters nº 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">11:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Oral Communications [Session 3]</b>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Application of bioinformatics in the characterization of multiple aspects of grapevine diversity - <b>Herlander Azevedo</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Phylogenomics and functional annotation of 530 non-Saccharomyces yeasts from winemaking environments reveals their fermentome and flavorome- <b
            >Ricardo Franco-Duarte</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Genome-wide characterization of plant resistance genes in cork oak (Quercus suber) - <b>Luis Gonçalves</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Eukaryotic Communities and Potential Pathogens in Wastewater Effluents in Ría de Vigo - <b
            >Raquel Ríos</b>
        </p>
        <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
          Deciphering the venoms of Conus species with transcriptomics - <b
            >José Morim</b>
        </p>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">13:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Lunch</b>
      </div>
    </div>



    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">14:30 H</div>
      <div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
        <img class="cover" src="/speakers/Blaz.png" alt="Kjell Peterson" width="90" height="90" />
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Keynote Lecture</b>
        <p class="py-1"> Standardized microbiome data analysis: HPC-ready pipelines from amplicons to MAGs and metagenomics next to real-time metabolic activities</p>
        <p class="text-neutral-600 dark:text-neutral-400">Blaz Stres</p>
      </div>
    </div>


    

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">15:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Portuguese Bioinformatics League</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Session with companies</b>
        <p class="text-neutral-600 dark:text-neutral-400"></p>
      </div>
    </div>
    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">16:45 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Job fair and coffee break</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">17:15 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Prizes and Closing Session</b>
      </div>
    </div>

   

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">18:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Activities (Quizz and BBQ)</b>
      </div>
    </div>
   

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">19:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Social Activities: BBQ</b>
      
      </div>
    </div>

    <div class="py-10"></div>
    <div class="flex flex-row border-y-2 px-6 py-2 text-green-600">
      <div class="basis-full text-xl">
        <b>MARCH 28TH - Friday</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:00 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Registration</b>
      </div>
    </div>

    <div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
      <div class="basis-3/12 lg:basis-1/12">09:30 H</div>
      <div class="invisible lg:basis-1/12 pr-2">
        <p></p>
      </div>
      <div class="basis-9/12 lg:basis-10/12">
        <b>Workshops</b>
        <p class="pt-2">[1] Software curation in bio.tools</p>
        <p class="pb-2 text-sm"><b>Ana Mendes and Mariia Steeghs-Turchina</b></p>
  
        <p class="pt-2">[2] Leveraging AlphaFold and other protein structure prediction and analysis tools for obtaining biological insight</p>
        <p class="pb-2 text-sm"><b>Florencio Pazos </b></p>
  
        <p class="pt-2">[3] DeepMol: automating machine learning for computational chemistry
        </p>
        <p class="pb-2 text-sm"><b>João Capela</b></p>
      </div>
    </div>
  </section>
