---
import { Icon } from 'astro-icon';
---


<section class="dark:bg-gray-900">
    <div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
        <div class="md:pb-6 md:pr-16 pb-6">
            <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading dark:text-white">
                Workshops in progress...
            </h2>
            <p class="dark:text-gray-400">
                We are excited to invite you to attend the upcoming Workshops of the Bioinformatics Open Days!
            </p>
        </div>