---
import { Icon } from 'astro-icon';
---

<section id="completeschedule" class="dark:bg-neutral-900">
	<div class="md:py-16 sm:px-4 mx-auto md:px-6 lg:px-8 lg:py-20 max-w-6xl">
		<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
			<h2 class="text-3xl lg:text-4xl font-bold  md:text-4xl md:leading-tight dark:text-white">Schedule in progress...</h2>
			<p class="mt-1 text-neutral-600 dark:text-neutral-400">
				Join us at BOD 2025 for three days of knowledge sharing, innovation and networking in the dynamic field of Bioinformatics.
			</p>
	
        </div>
    </div>
</div>