
---
import { Icon } from 'astro-icon';
---


<section class="dark:bg-black">
    <div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
        <div class="md:pb-6 md:pr-16 pb-6">
            <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading dark:text-white">
                Keynote Speakers
            </h2>
            <p class="dark:text-gray-400">
                We are honored to present the keynote speakers of the Bioinformatics Open Days!
            </p>
        </div>

        <div class="relative md:pt-5 col-span-full">
            <img class="cover" src="/speakers/1speaker_2026.png" />
            <img class="cover" src="/speakers/2speaker_2026.png" />
            <img class="cover" src="/speakers/3speaker_2026.png" />
            <img class="cover" src="/speakers/4speaker_2026.png" />
        </div>

        <h3 class="md:pt-8 pt-16 py-2 text-xl lg:text-xl text-purple-600 font-bold font-heading dark:text-white">
            Join us for inspiring keynote talks delivered by leading researchers and professionals in the field of bioinformatics.
        </h3>
    </div>
</section>