---
---

<a href="/">
	<img
		src="https://raw.githubusercontent.com/BioinformaticOpenDays/bods-website-2023/main/src/assets/images/logo_head_white_2025.png" alt="💻 Bioinformatics Open Days" class='visible dark:invisible'
	/>
</a>
